
<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Courseware </title>           
    <link href="~/Content/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/fonts/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/maps/jquery-jvectormap-2.0.3.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/icheck/flat/green.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/floatexamples.css" type="text/css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/nprogress.js"></script>  

</head>


<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Empty!</span></a>
                    </div>
                    <div class="clearfix"></div>

                    @Html.Partial("~/Views/Layout/quick_info.cshtml")
                    @Html.Partial("~/Views/Layout/sidebar_menu.cshtml")
                    @Html.Partial("~/Views/Layout/footer_buttons.cshtml")
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                    
                                    <h3>@RenderSection("Heading", true) <small>@RenderSection("Sub_Heading", false)</small></h3>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">                                
                                @RenderBody();
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <br />

                <!-- footer content -->

                <footer>
                    <div class="copyright-info">
                        <p class="pull-right">
                            Courseware - CS_EAD_Project
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->

        </div>

    </div>
    @Html.Partial("~/Views/Layout/PagePlugins.cshtml")
</body>

</html>
