
<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title </title>           
    <link href="~/Content/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/fonts/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/maps/jquery-jvectormap-2.0.3.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/icheck/flat/green.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/floatexamples.css" type="text/css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/nprogress.js"></script>  

</head>


<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>OCW</span></a>
                    </div>
                    <div class="clearfix"></div>

                    @Html.Partial("~/Views/Layout/quick_info.cshtml")
                    @Html.Partial("~/Views/Layout/sidebar_menu.cshtml")
                    @Html.Partial("~/Views/Layout/footer_buttons.cshtml")
                </div>
            </div>
            @Html.Partial("~/Views/Layout/top_nav.cshtml")
            
            <!-- page content -->
            <div class="right_col" role="main">

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                    
                                    <h3>@RenderSection("Heading", true) <small>@RenderSection("Sub_Heading", false)</small></h3>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">                                
                                @RenderBody()
                            </div>

                            <script type="text/javascript">

                                //Attach a function to fire on DOM ready
                                $(document).ready(MainFunction);

                                //Function which will be executed by jQuery when DOM will be ready
                                function MainFunction() {

                                    //Find all panels and then header divs
                                    $('.accordpanel div.header').each(function () {

                                        //For every header, attach click event
                                        $(this).click(function (event) {
                                            //To stop actual/default functionality of the link
                                            event.preventDefault();


                                            //Find panel with reference of header (which is clicked)
                                            var $newPanel = $(this).closest('.accordpanel');

                                            //If the current panel already has current class, it means, its time to hide it
                                            if ($newPanel.hasClass('current') == true) {
                                                //Remove current class from panel, find content div inside panel and hide it
                                                $newPanel.removeClass('current').find('div.content').slideUp();
                                            }
                                            else {

                                                //Find panel whic has current class, Remvoe current class, then find content div in it and hide it
                                                $('div.current.accordpanel').removeClass('current').find('.content').slideUp();

                                                //Apply current class on current panel and then find content inside it to show
                                                $newPanel.addClass('current').find('div.content').slideDown();
                                            }
                                            //To stop actual/default functionality of the link
                                            return false;
                                        });//End of click event

                                    });//End of each

                                } //End of MainFunction


                            </script>
                            <style type="text/css">
                                div.accordpanel div.header {
                                    padding: 2px;
                                    font-size: 16px;
                                    font-weight: bolder;
                                    border-bottom: solid 2px #336699;
                                }

                                div.accordpanel div.content {
                                    display: none;
                                }
                            </style>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <br />

                <!-- footer content -->

                <footer>
                    <div class="copyright-info">
                        <p class="pull-right">
                            Courseware - CS_EAD_Project
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->

        </div>

    </div>
    @Html.Partial("~/Views/Layout/PagePlugins.cshtml")
</body>

</html>
