<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-edit"></i> News Feed <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href='@Url.Content("~/News/Site")' >Site News</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/News/World")' >World News</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Courses <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href='@Url.Content("~/course/Search")'>Search</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/course/Name")' >Name</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/course/Department")' >Department</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Books <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href='@Url.Content("~/Books/Search")' >Search</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Books/Name")' >Name</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Books/Department")' >Department</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Magzines <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href='@Url.Content("~/Magzines/Search")' >Search</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Magzines/ViewAll")' >View All</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Lectures <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href='@Url.Content("~/Lectures/Search")' >Search</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Lectures/Course")' >Course No.</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Lectures/Department")' >Department</a>
                    </li>
                </ul>
            </li>
@if (ViewBag.Login != null) { 
            <li>
                <a><i class="fa fa-university"></i> Classrooms <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" id="classroom" style="display: none">
                    <li>
                        <a href='@Url.Content("~/Classrooms/Teacher")' >As Teacher</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Classrooms/Student")' >As Student</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Classrooms/TA")' >As TA</a>
                    </li>
                </ul>
            </li>
}
            <li>
                <a><i class="fa fa-university"></i> Statistics <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href='@Url.Content("~/Statistics/Monthly")' >Site Stats</a>
                    </li>
                    <li>
                        <a href='@Url.Content("~/Statistics/ContactUs")' >Contact Us</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->