@{
    ViewBag.Title = "SearchByDepartment";
}

@section heading
{
    Subjects
}
@model List<Entities.DepartmentDTO>

            <div class="x_content">
                <div class="row">
                    <ul class="to_do">
                        @foreach (var x in Model)
                        {
                            <li class="">
                                <div class="accordpanel">
                                    <div class="header" id="@x.dept_id">@x.dept_name</div>
                                    <div class="content">
                                        <ul class="list-unstyled timeline widget">
                                            @foreach (var dto in @x.dtos)
                                            {
                                                <li>
                                                    <div class="block">
                                                        <div class="block_content">
                                                            <h2 class="title">
                                                                <a href='@Url.Content("~/Books/id/"+@dto.id)'>
                                                                    @dto.name
                                                                </a>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
<script>
    $(document).ready(function () {
        $("div.header").each(function () {
       //     debugger;
            if($(this).attr("id") == '@ViewBag.Sub')
            {
                $(this).closest(".accordpanel").addClass('current').find('div.content').slideDown();
            }
        });
    });

</script>