@{
    ViewBag.Title = "Books Data";
}
@section heading{
    Books Data Update    
}
@model List<Entities.BookDTO>
<link href="~/Scripts/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Book</th>
                        <th>link</th>
                        <th>Edit</th>
                        <th>Delete</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dto in Model)
                    {
                    <tr>
                        <td>@dto.id</td>
                        <td>@dto.name</td>
                        <td>@dto.author</td>
                        <td>@dto.category</td>
                        <td><img src="~/Content/data/Books/@dto.image" style="width:70%;"/></td>
                        <td>
                            <button class="btn btn-round btn-info">
                                <a href="@dto.file">
                                    <span>PDF </span>
                                </a>
                            </button>
                        </td>
                        <td>
                                <a href="@dto.link" class="btn btn-round btn-info">
                                    <span>GO! </span>
                                </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary edit" data-toggle="modal" data-target=".bs-example-modal-lg">
                                EDIT
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger delete" data-toggle="modal" data-target=".bs-example-modal-sm">
                                DELETE
                            </button>
                        </td>
                    </tr>                        
                    }
                </tbody>
            </table>
        </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Update Book</h4>
            </div>
            <div class="modal-body" id="update_data">
                <h4>Update Data</h4>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary">ID</button>
                    </span>
                    <input type="text" class="form-control" readonly id="id">
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary">Name</button>
                    </span>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary">Author</button>
                    </span>
                    <input type="text" class="form-control" id="author">
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary">Category</button>
                    </span>
                    <input type="text" class="form-control" id="cat">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="update-data-model">Update</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Delete</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure to Delete Book</h4>
                <p id="delData">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="model-btn-del" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>

        </div>
    </div>
</div>

  <!-- Datatables -->
<!-- <script src="~/Scripts/plugins/datatables/js/jquery.dataTables.js"></script>
<script src="~/Scripts/plugins/datatables/tools/js/dataTables.tableTools.js"></script> -->
<!-- Datatables-->
<script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/plugins/datatables/jszip.min.js"></script>
<script src="~/Scripts/plugins/datatables/pdfmake.min.js"></script>
<script src="~/Scripts/plugins/datatables/vfs_fonts.js"></script>
<script src="~/Scripts/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/Scripts/plugins/datatables/buttons.print.min.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/Scripts/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.scroller.min.js"></script>


<!-- pace -->
<script src="js/pace/pace.min.js"></script>
<script>
          var handleDataTableButtons = function() {
              "use strict";
              0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }],
                responsive: !0
              })
            },
            TableManageButtons = function() {
              "use strict";
              return {
                init: function() {
                  handleDataTableButtons()
                }
              }
            }();
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".edit").each(function () {
            $(this).click(function () {
                var row = $(this).closest("tr");
                //      debugger;
                var id = row.find("td:nth-child(1)").text();
                var name = row.find("td:nth-child(2)").text();
                var author = row.find("td:nth-child(3)").text();
                var cat = row.find("td:nth-child(4)").text();
           //     debugger;
                $("#update_data").find("#id").val(id);
                $("#update_data").find("#name").val(name);
                $("#update_data").find("#author").val(author);
                $("#update_data").find("#cat").val(cat);
                $("#update_data").closest(".modal-content").find("#update-data-model").click(function () {

                    id = $("#update_data").find("#id").val();
                    name = $("#update_data").find("#name").val( );
                    author = $("#update_data").find("#author").val();
                    cat = $("#update_data").find("#cat").val();
                    var data = {
                        "id": id, "name": name, "author": author, "cat": cat
                    };
                    var settings = {
                        type: "POST",
                        dataType: "json",
                        data: data,
                        url: "/Books/updateBook",
                        success: function (response) {
                            console.log(response);
                            debugger;
                            row.find("td:nth-child(2)").text(name);
                            row.find("td:nth-child(3)").text(author);
                            row.find("td:nth-child(4)").text(cat);
                        },
                        error: function (err, type, httpStatus) {
                            console.log(err + "--" + type + "--" + httpStatus);
                        }
                    };
                    $.ajax(settings);
                });
            });
        });
        $(".delete").each(function () {
            $(this).click(function () {
                var row = $(this).closest("tr");
                //      debugger;
                var id = row.find("td:nth-child(1)").text();
                var name = row.find("td:nth-child(2)").text();
                var author = row.find("td:nth-child(3)").text();
                var cat = row.find("td:nth-child(4)").text();
                $("#delData").html("ID : " + id + "<br>Name: " + name + "<br>Author: " + author + "<br>Category: " + cat + "<br>");
                $("#delData").closest(".modal-content").find("#model-btn-del").click(function () {
                    var data = {
                        "id": id
                    }
                    var settings = {
                        type: "POST",
                        dataType: "json",
                        data: data,
                        url: "/Books/delete",
                        success: function (response) {
                            console.log(response);
                            debugger;
                            row.remove();
                        },
                        error: function (err, type, httpStatus) {
                            console.log(err + "--" + type + "--" + httpStatus);
                        }
                    };
                    $.ajax(settings);
                });
            });
        });
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
              keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
              ajax: "~/Scripts/plugins/datatables/json/scroller-demo.json",
              deferRender: true,
              scrollY: 380,
              scrollCollapse: true,
              scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
              fixedHeader: true
            });
          });
          TableManageButtons.init();
</script>